<HEAD><TITLE>Line Types</TITLE></HEAD>
<H2>Internal Linetype Representation</H2>
<BODY>
Line textures are specified as a sequence of values giving 
the number of pixels in alternating on/off sequences composing
the line.  Internally, R stores these values in a sequence of
up to eight four-bit values store in a single 32 bit integer.
