<HEAD><title>Foreign Function Interface</title></HEAD><BODY>
<A NAME=HEADING1></A>
[ <A HREF="../index.html">top</A> | <A HREF="index.html"> up</A> ]
<CENTER><H2><I>Foreign Function Interface</I></H2></CENTER>
<H3><I>Syntax</I></H3>
<PRE>.C(name, ..., NAOK=FALSE)
.Fortran(name, ..., NAOK=FALSE)

dyn.load(libname)
</PRE>
<H3><I>Arguments</I></H3>
<TABLE>
<TR VALIGN=TOP><TD><CODE>name </CODE>
<TD>
a character string giving the name of a C function or
Fortran subroutine.
<TR VALIGN=TOP><TD><CODE>... </CODE>
<TD>
arguments to be passed to the foreign function.
<TR VALIGN=TOP><TD><CODE>NAOK </CODE>
<TD>
if <CODE>TRUE</CODE> then any <CODE>NA</CODE> values in the arguments
are passed on to the foreign function.
If <CODE>FALSE</CODE>, the presence of <CODE>NA</CODE> values is
regarded as an error.
<TR VALIGN=TOP><TD><CODE>libname </CODE>
<TD>
a character string giving the pathname to a DLL.
</TABLE>
<H3><I>Description</I></H3>
The functions <CODE>.C</CODE> and <CODE>.Fortran</CODE> can be used to
make calls to C and Fortran code.
<P>
<CODE>dyn.load</CODE> links the specified shared library
to the executing R image.  Calls to <CODE>.C</CODE> and <CODE>.Fortran</CODE>
can then be used to execute C functions or Fortran subroutines
contained in the library.
<P>
The creation of shared libraries the runtime linking
of them into executing programs is very platform
dependent.  In recent years there has been some
simplification in the process because the C subroutine
call <CODE>dlopen</CODE> has become the standard for doing this
under Unix.
<CODE>dyn.load</CODE> uses the <CODE>dlopen</CODE> mechanism and
should work on all platforms which support it.
<P>
The original code for loading DLLs in UNIX
was provided by Heiner Schwarte.
</BODY>
