<HEAD><TITLE>Authors</TITLE></HEAD>
<BODY LINK=#0000EF VLINK=#0000EF>
<HR ALIGN=MIDDLE>
<H2 ALIGN=CENTER>
<I>The R Authors</I>
</H2>
<HR ALIGN=MIDDLE>
<BR>
<B>Robert Gentleman</B> is a Senior Lecturer in the
Statistics Department of the University of Auckland.
In addition to his interest in statistical computation,
Robert is interested in analysis of AIDS data and
statistical graphics.
<P>
Robert can be reached as <B>rgentlem@stat.auckland.ac.nz</B>.
<P>
<BR><BR>
<B>Ross Ihaka</B> is also a Senior Lecturer in the
Statistics Department of the University of Auckland.
In addition to his interest in statistical computation,
his interests include time series analysis
and general applied statistics.
<P>
Ross can be reached as <B>ihaka@stat.auckland.ac.nz</B>.
