<HEAD><TITLE>The R Language</TITLE></HEAD>
<BODY LINK=#0000EF VLINK=#0000EF>
<HR ALIGN=MIDDLE>
<H2 ALIGN=CENTER>
<I>R - A Language for Statistical Data Analysis</I>
</H2>
<CENTER>
<I>This is just a sketch.  Only the bold entries are real.</I>
</CENTER>
<HR ALIGN=MIDDLE>
<BR>
<TABLE ALIGN=CENTER>
<TR ALIGN=CENTER>
<TD COLSPAN=3><B><I>The R Language</I></B>
<TR><TD>
<TR ALIGN=CENTER>
<TD><I><A HREF="notdone.html">Tutorials</A></I>
<TD><I><A HREF="notdone.html">Data Structures</I></I>
<TD><I><A HREF="notdone.html">Control Flow</I></I>
<TR ALIGN=CENTER>
<TD><I><A HREF="notdone.html">Data Entry</A></I>
<TD><I><A HREF="notdone.html">Graphics</A></I>
<TR><TD><BR>

<TR ALIGN=CENTER>
<TD COLSPAN=3><B><I>Data Analysis with R</I></B>
<TR><TD>
<TR ALIGN=CENTER>
<TD width=33%><I><A HREF="notdone.html">Basic Statistics</A></I>
<TD width=33%><I><A HREF="notdone.html">Exploratory Data Analysis</A></I>
<TD width=33%><I><A HREF="notdone.html">Linear Models</A></I>
<TR ALIGN=CENTER>
<TD><I><A HREF="notdone.html">Multivariate Analysis</A></I>
<TD><I><A HREF="notdone.html">Time Series Analysis</A></I>
<TD><I><A HREF="notdone.html">Generalized Linear Models</A></I>
<TR><TD><BR>

<TR ALIGN=CENTER>
<TD COLSPAN=3><B><I>Reference</I></B>
<TR><TD>
<TR ALIGN=CENTER>
<TD width=33%><B><A HREF="funs/index.html">Functions</A></B>
<TD width=33%><I><A HREF="notdone.html">Data</A></I>
<TD width=33%><I><A HREF="notdone.html">Misc</A></I>
<TR><TD><BR>

<TR ALIGN=CENTER>
<TD COLSPAN=3><B><I>Miscellaneous Material</I></B><NOTE></NOTE>
<TR><TD>
<TR ALIGN=CENTER>
<TD><B><A HREF="intro.html">About R</A></B>
<TD><B><A HREF="authors.html">The R Authors</A></B>
<TD><B><A HREF="thanks.html">Thanks</A></B>
<TR ALIGN=CENTER>
<TD><B><A HREF="copying.html">Licensing</A></B>

</TABLE>

<BR><BR>
<HR ALIGN=middle>
<CENTER>
<I>Select a topic by clicking the mouse button when
the cursor is over the topic of interest.</I></TABLE>
</CENTER>
<HR ALIGN=middle>

