<HEAD><TITLE>Introduction</TITLE></HEAD>
<BODY LINK=#0000EF VLINK=#0000EF>
<HR ALIGN=MIDDLE>
<H2 ALIGN=CENTER>
<I>About R</I>
</H2>
<HR ALIGN=MIDDLE>
<BR>
<B>R</B> is a computer language designed for statistical data analysis.
Because it is a fully-fledged computer language it provides users
with a very flexible framework in which to carry out statistical
analysis.
The language contains data structures which provide representations
for a wide range statistical data and possesses a wide range of
built-in recipes for standard statistical analyses.
<P>
We have implemented <B>R</B> in what we hope is a very portable fashion
and in way which requires relatively little in the way of machine resources.
Versions of the language exist for many <B>Unix</B>
platforms including <B>FreeBSD</B>, <B>NetBSD</B> and <B>Linux</B>.
In addition we have ported <B>R</B> to the <B>Macintosh</B>
and <B>Power Macintosh</B> computers.
A version for <B>Microsoft Windows</B> is under development.
<P>
<B>R</B> was written by <B>Robert Gentleman</B> and <B>Ross Ihaka</B>
of the Department of Statistics at the University of Auckland.
It owes much, however, to the pioneering work of
<B>Rick Becker</B>, <B>John Chambers</B>,
<B>Allan Wilks</B>, and their colleagues at AT&T Bell Laboratories
on the <B>S</B> language.
The two languages are implemented quite differently, but bear
enough superficial resemblence that users should be able to switch
between the two with relative ease.
<P>
This software is made available as <B>free software</B>
under the terms of the <B>Free Software Foundation's
GNU General Public License</B>.
This license grants permission to copy and redistribute
the software under certain conditions.
In essence these conditions require that you place no additional
restrictions on further distribution of the software and that you
make the source code available to anyone who you give a binary
copy to.  Consult the license for the exact details.
<P>
<B>R</B> is free software; it comes with <B>no warranty</B>.
