<HEAD><TITLE>Not Done (Yet)</TITLE></HEAD>
<BODY LINK=#0000EF VLINK=#0000EF>
<HR ALIGN=MIDDLE>
<H2 ALIGN=CENTER>
<I>R - A Language for Statistical Data Analysis</I>
</H2>
<HR ALIGN=MIDDLE>
<BR>
<CENTER>
<I>Sorry, but the help file you requested has not been written yet.
<BR><BR>
Perhaps you would like to write it?</I>
</CENTER>
