<HEAD><TITLE>Thanks</TITLE></HEAD>
<BODY LINK=#0000EF VLINK=#0000EF>
<HR ALIGN=MIDDLE>
<H2 ALIGN=CENTER>
<I>Thanks To ...</I>
</H2>
<HR ALIGN=MIDDLE>
<BR>
<UL>
<LI>
<B>Rick Becker</B>, <B>John Chambers</B> and <B>Allan Wilks</B>
for the language design.
Particular thanks goes to John Chambers who answered our
(sometimes impertinent) questions with patience and good grace.
<P><LI>
The <B>Free Software Foundation</B> and
the <B>FreeBSD</B> and <B>XFree86</B> teams for the
superior and ``free'' development tools.
<P><LI>
<B>Guy Steel</B> and <B>Gerald Sussman</B> for Scheme.
<P><LI>
<B>David Betz</B> and <B>Samuel Kamin</B> for pointers on
the design and implementation of small portable interpreters.
<P><LI>
The <B>authors</B> of the numerical algorithms
which form the statistical heart of <B>R</B>.
Particularly to the developers of Linpack which represents
a standard of software quality to be aspired to.
<P><LI>
<B>Simon Davies</B> for writing the initial <B>R</B> versions of the
<B>glm</B> and <B>lsfit</B> suites of functions.
<P><LI>
<B>Alan Lee</B> for writing large amounts of applications code in early
(and buggy) versions of <B>R</B>.
<P><LI>
<B>Martin Maechler</B> for extensive testing and feedback.
<P><LI>
<B>Luke Tierny</B> and <B>Andreas Buja</B> for encouragement.
<P><LI>
<B>Alan Richardson</B> for the code which draws rotated fonts in X11.
<B>Carlos Fonseca</B> for finding and fixing the bug in Alan's code.
<P><LI>
The <B>University of Auckland</B> for support, including Sun SPARCstation ELC
and IPX computers, two PCs, several Macintoshes and a PowerPC.
<P><LI>
The <B>students</B> in our first and second year courses who didn't actually
carry out the threats they made after having early versions of R
inflicted on them in our laboratories.
<P><LI>
The <B>Campus Espresso Cart</B> and the <B>Black Crow Cafe</B>.
<P><LI>
The <B>Distillers</B> of Scotland and <B>Vintners</B> world wide.
</UL>
